body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 255, 255, 0.407);
}

.firstSide {
    font-size: 50px;
    text-align: center;
}

.link {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    font-size: large;
}

.previewPicture {
    height: 150px;
    width: auto;
}

img {
    height: auto;
    width: 250px;
}

a {
    font-size: 20px;
}

h1, h2, h3 {
    text-decoration: underline;
}

ul, ol, p {
    color:brown;
    text-align: justify;
}