body {
    line-height: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    width: 500px;
    border: solid;
    padding: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    text-decoration: underline;
}

.headline {
    text-align: center;
}

.checkbox {
    list-style-type: square;
}

.return-button {
    background-color: orange;
    border: solid black;
    text-decoration: none;
    padding: 2px;
}